<h1>Listing produtos</h1>

<table>
  <tr>
    <th>Param</th>
    <th>Descricao</th>
    <th>Custo unitario</th>
    <th>Preco unitario</th>
  </tr>

<% for produto in @produtos %>
  <tr>
    <td><%=h produto.param %></td>
    <td><%=h produto.descricao %></td>
    <td><%=h produto.custo_unitario %></td>
    <td><%=h produto.preco_unitario %></td>
    <td><%= link_to 'Show', produto %></td>
    <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
    <td><%= link_to 'Destroy', produto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New produto', new_produto_path %>
