<h1>Vendas de <%= I18n.localize(@data) %></h1>

<table>
  <tr>
    <th>Descrição</th>
    <th>Quantidade</th>
    <th>Custo unitario</th>
    <th>Custo total</th>
    <th>Valor unitário</th>
    <th>Valor total</th>
    <th>Lucro</th>
  </tr>

<% for venda in @vendas %>
  <tr>
    <td><%=h venda.descricao %></td>
    <td><%=h number_with_precision(venda.quantidade, :precision => 2) %></td>
    <td><%=h number_to_currency(venda.custo_unitario) %></td>
    <td><%=h number_to_currency(venda.custo_total) %></td>
    <% @total.custo_unitario = @total.custo_unitario + venda.custo_total %>
    <td><%=h number_to_currency(venda.valor_unitario) %></td>
    <td><%=h number_to_currency(venda.valor_total) %></td>
    <% @total.valor_total = @total.valor_total + venda.valor_total %>
    <td><%= formata_lucro(venda)  %></td>
    <td><%= link_to 'Editar', edit_venda_path(venda) %></td>
    <td><%= link_to 'Apagar', venda, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>

<tr>
<% form_for(@venda) do |f| %>
  <td>
    <%= f.hidden_field :data %>
    <%= f.text_field :descricao, :size=>20 %>
  </td>
  <td>
    <%= f.text_field :quantidade, :size=>3 %>
  </td>
  <td>
    <%= f.text_field :custo_unitario, :size=>5 %>
  </td>
  <td></td>
  <td></td>
  <td>
    <%= f.text_field :valor_total, :size=>5 %>
  </td>
  <td></td>
  <td>
    <%= f.submit "Criar" %>
  </td>
  <td></td>
<% end %>
</tr>
  <tr>
    <th>Total do dia</th>
    <th></th>
    <th></th>
    <th><%=h number_to_currency(@total.custo_total) %></th>
    <th></th>
    <th><%=h number_to_currency(@total.valor_total) %></th>
    <th><%= formata_lucro(@total) %></th>
  </tr>

</table>

<br />

<%= link_to "#{I18n.localize(@data_anterior)}, #{Date::DAYNAMES[@data_anterior.wday]}", :controller => :vendas, :action => :lista, :dia => @data_anterior.day, :mes => @data_anterior.month, :ano => @data_anterior.year %><br />
<%= link_to "#{I18n.localize(@data_proxima)}, #{Date::DAYNAMES[@data_proxima.wday]}" , :controller => :vendas, :action => :lista, :dia => @data_proxima.day,  :mes => @data_proxima.month,  :ano => @data_proxima.year %>
